<!DOCTYPE html>
<html>
    <head>
        <title>CosmicShutter</title>
        <style>
            h1 {
                text-align: center;
                font-size: 40px;
                font-family: Arial;
                color: rgb(100, 100, 100)
            }
            
                #banner {
                    height: 360px;
                    width: 100%;
                    object-fit:cover;
                    margin-bottom: 16px;
      }

        </style>
    </head>
    <body>
       <h1>CosmicShutter</h1>
       <img id="banner" src="http://127.0.0.1:5000/static/milkyway.jpg">
    </body>
</html> 
